body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  margin-left: 3%;
  margin-top: 5%;
  white-space: nowrap;
  font-family: 'Dancing Script', cursive;
  position: relative;
  width: 13%;
}

.nav::after {
  border-top: 6px solid sandybrown;
  content: "";
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.bio h1 {
  margin-top: 9%;
  margin-left: 3%;
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
}

.bio h1 span {
  background-color: black;
  color: rgb(248, 210, 84);
  font-family: 'Shadows Into Light', cursive;
}

.bio-detail {
  display: flex;
  flex-direction: row;  
}

.bio-detail h2 {
  width: 90%;
  margin-left: 3%;
  margin-right: 50px;
}

.bio-detail img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-top: -13%;
  margin-left: 5%;
}

.bio-detail span {
  background-color: black;
  color: rgb(248, 210, 84);
  font-family: 'Shadows Into Light', cursive;
}

.footer {
  margin-left: 1%;
}

.footer-list {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  width: 30%;
  display: flex;
  list-style-type: none;
  align-items: row;
  justify-content: flex-start;
  justify-content: space-between;
}

.footer-list a {
  text-decoration: none;
  border-bottom: 4px solid sandybrown;
  color: black;
}

.footer-list :hover {
  text-decoration: none;
}

